.dash-view {
    margin: 30px;
    text-align: left;
    color: white;

}
.view-heading {
    font-size: 0.8em;
    font-weight: 500;
}
.card-heading {
	font-weight: 500;
	font-size: 1.1em;
	
}
.card-subtitle {
	font-size: 0.955em;
    text-align: center;
    
}
#stats-container {
	text-align: 'left'; 
    flex-direction: 'row'; 
    display:'flex';

}
