#searchBar{
    display: flex;
    margin: 40px;
    background: #2d2f33;
    height: 50px;
    justify-items: center;
    align-content: center;
    border-radius: 1em;
    justify-self: center;
    align-items: center;
}